@page
@model MedAid.Pages_Prescriptions.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Prescription</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.DoctorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.DoctorId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.PatientId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.PatientId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.MedicationName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.MedicationName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.Dosage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.Dosage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.Frequency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.Frequency)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.UpdatedAt)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Prescription.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
