@page
@model MedAid.Pages_Prescriptions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Prescription</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.DoctorId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.DoctorId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.PatientId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.PatientId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.MedicationName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.MedicationName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.Dosage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.Dosage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.Frequency)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.Frequency)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.UpdatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Prescription.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
