@page
@model MedAid.Pages_Prescriptions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Patient Prescriptions</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Doctor</th>
            <th>Patient</th>
            <th>Medication Name</th>
            <th>Dosage</th>
            <th>Frequency</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Prescription)
        {
            <tr>
                <td>
                    @item.DoctorName
                </td>
                <td>
                    @($"{item.Patient.FirstName} {item.Patient.LastName}")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedicationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dosage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Frequency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

